[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
gunicorn = "*"
plotly = "*"
dash = "*"
pandas_datareader = "*"

[requires]
python_version = "3.6.12"
